* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  color: #FCFCFC;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 3.6rem;
  line-height: 5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 30px;
}

h3 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
  font-weight: 700;
}

h5 {
  font-size: 1.8rem;
  font-weight: 300;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
}

li {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
}

.width {
  max-width: 100%;
  height: auto;
}

.font-white {
  color: #FCFCFC;
}

.font-black {
  color: #241F20;
}

.background-white {
  background-color: #FCFCFC;
}

.background-whitest {
  background-color: #FFFFFF;
  width: 100%;
  padding: 3.5rem 0rem;
}

.background-black {
  background-color: #241F20;
}

.background-orange {
  background: linear-gradient(180deg, #DB6B3A 0%, #DB6C3A 30.51%, #EECD53 100%);
}

.background-bluster {
  background: linear-gradient(180deg, #5C678D 0%, #232B46 100%);
}

.mobile-padding {
  padding: 3.5rem;
}

.button-padding {
  padding: 0rem 3.5rem 3.5rem 3.5rem;
}

.title-padding {
  padding: 5rem 3.5rem 1.5rem 3.5rem;
}

.paragraph-padding {
  padding: 0rem 3.5rem 0rem 3.5rem;
}

.last-paragraph {
  padding-bottom: 5rem;
}

.fullscreen {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 3.5rem 3.5rem 3.5rem 3.5rem;
}

.caseStudy_fullscreen {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.casestudy_position {
  position: relative;
  text-align: center;
}

#project-padding {
  padding: 4vh 0rem 0rem 0rem;
  }

#project-padding-bluster {
  padding: 4vh 0rem 0rem 0rem;
  }

#project-padding-tunecan {
  padding: 4vh 0rem 0rem 0rem;
  }

.bluster-img-padding {
  margin: 4vh 0rem 5vh 0rem;
}

.tunecan-img-padding {
  margin: 15vh 5rem 0vh 5rem;
}

.caseStudy_title {
  position: relative;

  left: 0;
  right: 0;
  margin: auto
}

.caseStudy_subtitle {
  position: relative;

  left: 0;
  right: 0;
  margin: auto;
}

.project-img {
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
}

.caseStudy-padding {
  padding: 0rem 1rem 0rem 1rem;
}

.fullscreen-contact {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.fullscreen-projects {
  height: 100vh;
  text-align: center;
}

.ten {
  height: 10vh;
}

/* Homepage CSS */
.logo {
  display: inline-block;
}

.border {
  width: 10rem;
  border-bottom: .1rem solid #FCFCFC;
  padding-top: 1.2rem;
}

.location-padding {
  padding-top: .6rem;
}

.recent-work-position {
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  margin: auto;
}

.recent-work-padding {
  padding-bottom: 1rem;
}

.burgerMenu {
  font-size: 3rem;
  cursor: pointer;
  float: right;
}

#hero h1 {
  padding: 8rem 0rem 9rem 0rem;
}

.project-flex {
  padding: 10rem 0rem 10rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fas {
  padding-top: .65rem;
}

.cheveron-small-right {
  position: absolute;
  padding-left: 1.4rem;
  bottom: .2rem;
}

.cheveron-small-left {
  position: absolute;
  padding-left: 1.2rem;
  bottom: .2rem;
}

/* Black Hexagons */
.project-hex-black {
  position: absolute;
  top: 85vh;
  width: 75px;
  height: 43.30px;
  background-color: #241F20;
  text-align: left;
  left: 0;
  right: 0;
  margin: auto;
}

.project-hex-black:before,
.project-hex-black:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 37.5px solid transparent;
  border-right: 37.5px solid transparent;
}

.project-hex-black:before {
  bottom: 100%;
  border-bottom: 21.65px solid #241F20;
}

.project-hex-black:after {
  top: 100%;
  width: 0;
  border-top: 21.65px solid #241F20;
}

.process-flex {
  padding: 0rem 0rem 7rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimonial-hex-black {
  margin-top: 7.5rem;
  position: relative;
  width: 40px;
  height: 23.09px;
  background-color: #241F20;
  bottom: 0rem;
  text-align: left;
  ;
}

.testimonial-hex-black:before,
.testimonial-hex-black:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.testimonial-hex-black:before {
  bottom: 100%;
  border-bottom: 11.55px solid #241F20;
}

.testimonial-hex-black:after {
  top: 100%;
  width: 0;
  border-top: 11.55px solid #241F20;
}

/* White Hexagons */

.project-hex-white {
  position: absolute;
  top: 85vh;
  width: 75px;
  height: 43.30px;
  background-color: #FCFCFC;
  text-align: left;
  left: 0;
  right: 0;
  margin: auto;
}

.project-hex-white:before,
.project-hex-white:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 37.5px solid transparent;
  border-right: 37.5px solid transparent;
}

.project-hex-white:before {
  bottom: 100%;
  border-bottom: 21.65px solid #FCFCFC;
}

.project-hex-white:after {
  top: 100%;
  width: 0;
  border-top: 21.65px solid #FCFCFC;
}

.testimonial-hex-white {
  margin-top: 7.5rem;
  position: relative;
  width: 40px;
  height: 23.09px;
  background-color: #EECD53;
  bottom: 0rem;
  text-align: left;
}

.testimonial-hex-white:before,
.testimonial-hex-white:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.testimonial-hex-white:before {
  bottom: 100%;
  border-bottom: 11.55px solid #EECD53;
}

.testimonial-hex-white:after {
  top: 100%;
  width: 0;
  border-top: 11.55px solid #EECD53;
}

.test-hex-button {
  padding-left: 2rem;
  padding-right: 2rem;
}

.hexagon-center-black {
  position: relative;
  width: 60px;
  height: 34.64px;
  background-color: #0e2829;
  margin: auto;
  left: 0px;
  right: 0px;
  margin-bottom: 10rem;
}

.hexagon-center-black:before,
.hexagon-center-black:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.hexagon-center-black:before {
  bottom: 100%;
  border-bottom: 17.32px solid #0e2829;
}

.hexagon-center-black:after {
  top: 100%;
  width: 0;
  border-top: 17.32px solid #0e2829;
}

.hexagon-center-white {
  position: relative;
  width: 60px;
  height: 34.64px;
  background-color: #FCFCFC;
  margin: auto;
  left: 0px;
  right: 0px;
  margin-bottom: 10rem;
}

.hexagon-center-white:before,
.hexagon-center-white:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.hexagon-center-white:before {
  bottom: 100%;
  border-bottom: 17.32px solid #FCFCFC;
}

.hexagon-center-white:after {
  top: 100%;
  width: 0;
  border-top: 17.32px solid #FCFCFC;
}

.transparent {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  position: absolute;
  top: .3rem;
  left: 0rem;
  right: 0rem;
  margin: auto;
}

.project-button {
  height: 33.3vh;
  padding-top: 12rem;
}

.image {
  max-width: 100%;
  display: block;
  left: 0px;
  right: 0px;
  margin: auto;
}

.design-process {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.process-title {
  padding-top: 7rem;
}

.design-padding {
  padding-bottom: 7rem;
}

.process-border {
  border-bottom: .1rem solid #FCFCFC;
  text-align: center;
  width: 20rem;
  left: 0px;
  right: 0px;
  margin: auto;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}

.icon-padding {
  padding-top: 4rem;
  padding-bottom: 1rem;
}

/* Footer CSS */
.nav-padding {
  padding: 3.5rem;
}

.nav-button {
  background-color: #241F20;
  border: 0.1rem solid #EECD53;
  color: #EECD53;
  padding: 1rem 7rem 1rem 7rem;
  font-size: 1.8rem;
  margin: 2rem 0rem 2rem 0rem;
}

ul.social-icons {
  margin: auto;
  max-width: 50rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 0rem 2.5rem 0rem 2.5rem;
}

.sendOff-spacing {
  padding-top: 1rem;
}

/* About CSS */
.about-title {
  padding-top: 4rem;
  text-align: center;
}

.about-subtitle {
  padding: 5rem 3.5rem 0rem 3.5rem;
}

.about-picture {
  padding: 3.5rem 3.5rem 5rem 3.5rem;
}

.about-section {
  background-color: #FCFCFC;
}

.black {
  color: #241F20;
}

/* Contact CSS */
.contact-title {
  padding-top: 3.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.contact-subtitle {
  padding: 2rem 0rem 0rem 0rem;
}

.contact-container {
  padding: 3.5rem 3.5rem 0rem 3.5rem;
}

.border-top {
  border-top: 1px solid #FCFCFC;
}

input[type=text], select {
  width: 100%;
  padding: 1rem 2rem;
  margin: 0.8rem 0rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

input[type=submit] {
  width: 100%;
  background-color: #EECD53;
  color: #241F20;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 0rem;
  margin: 0.8rem 0rem;
  border: none;
  cursor: pointer;
}

#message {
  padding: 1rem 2rem 10rem 2rem;
}

/* Nav Bar */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #241F20;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: left;
  margin-left: 20%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 6rem;
  display: block;
  transition: 0.5s;
}

.overlay .closebtn {
  float: right;
  color: #FCFCFC;
  padding: 2.5rem 3.5rem;
  font-size: 5rem;
}

.menu-non-selected {
  font-family: 'Alfa Slab One', cursive;
  text-align: left;
  color: #FCFCFC;
  border-bottom: 0.4rem solid #FCFCFC;
}

.menu-selected {
  font-family: 'Alfa Slab One', cursive;
  text-align: left;
  color: #EECD53;
  border-bottom: 0.4rem solid #EECD53;
}

.no-border {
  border-bottom: 0rem;
}

.logo-menu {
  padding: 3.5rem;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
}

/* Testimonial Slide Show */
.testimonial-title {
  text-align: center;
  padding-top: 7.5rem;
  padding-bottom: 5rem;
}

.testimonial-image {}

.author {
  padding-top: 2rem;
  margin: auto;
}

.endorse {
  padding: 2.5rem 0rem 2.5rem 0rem;
  line-height: 2.2rem;
  height: 20rem;
  max-width: 50rem;
  text-align: center;
}

.testimonial-next {
  position: absolute;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1rem;
  justify-content: center;
  align-items: stretch;
}

. .transparent-test {
  border: none;
  position: absolute;
  top: .2rem;
  left: 1.2rem;
  right: 0rem;
  margin: auto;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #FCFCFC;
}

/* Slides */
.mySlides {
  display: none;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -30px;
  padding: 13px 17.22px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 2rem;
  border-radius: 50%;
  background-color: #241F20;
  color: #FCFCFC;
}

.prev {
  background-color: #FCFCFC;
  color: #241F20;
  left: 2rem;
}

/* On hover, add a black background color with a little bit see-through */
.next:hover {
  background-color: #EECD53;
  color: #241F20;
}

.prev:hover {
  background-color: #241F20;
  color: #FCFCFC;
}

/* The dot/bullet/indicator container */
.dot-container {
  position: relative;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 7.5rem;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 1rem;
  background-color: #C5C5C5;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #EECD53;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px
  }
}

/* TuneCan */
.caseStudy-title-padding {
  font-family: 'Poppins', sans-seif;
  padding: 3.5rem 0rem 3.5rem 0rem;
}

.caseStudy-description {
  padding: 1rem 0rem 3.5rem 0rem;
  line-height: 2.2rem;
}

.caseStudy-img {
  padding: 0rem 0rem 3.5rem 0rem;
}

.prototype-button {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-color: #3866A8;
  border: 0;
  color: #FCFCFC;
  padding: 1rem 5rem 1rem 5rem;
  font-size: 1.8rem;
  width: 100%;
  margin: 0rem 3.5rem 7.5rem 0rem;
}

.prototype-padding {
  padding: 3.5rem 3.5rem 6rem 3.5rem;
}

.deliverables {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.5rem 0rem 3.5rem 0rem;
}

.deliverables-padding {
  padding: 3.5rem 0rem 3.5rem 0rem;
}

.first-title-padding {
  padding: 0rem 3.5rem 1.5rem 3.5rem;
  margin: auto;
}

.img-top-padding {
  padding: 5rem 3.5rem 0rem
}

.two-row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3.5rem 2.7rem 5rem 2.7rem;
}

.rounded-section {
  border-radius: 8rem;
}

.new-section-padding {
  padding: 5rem 0rem 5rem 0rem;
  text-align: center;
}

.userSurvey-firstResponse {
  font-weight: bold;
  padding: 3rem 3.5rem 1.5rem 3.5rem;
  margin: auto;
}

.userSurvey-responses {
  font-weight: bold;
  padding: 1.5rem 3.5rem 1.5rem 3.5rem;
  margin: auto;
}

.userSurvey-lastResponse {
  font-weight: bold;
  padding: 1.5rem 3.5rem 3rem 3.5rem;
  margin: auto;
}

.one-col-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.result-image-padding {
  padding: 2.5rem 0rem 2.5rem 0rem;
}

.caseStudy-button {
  font-family: 'Lato', sans-serif;
  background-color: #3866A8;
  border: 0;
  color: #FCFCFC;
  padding: 1rem 0rem 1rem 0rem;
  width: 100%;
  max-width: 660px;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

.company-logo {
  display: inline-block;
  padding-top: 3.5rem;
  padding-bottom: 1rem;
}

span.firstLetter-green {
  font-weight: 700;
  color: #41A830;
}

span.firstLetter-red {
  font-weight: 700;
  color: #E25151;
}

.analysis-icon {
  position: absolute;
  padding: 3.65rem 0rem 0rem 1rem;
}

.analysis-button {
  font-family: 'Lato', sans-serif;
  background-color: #EECD53;
  border: 0;
  color: #241F20;
  padding: 1rem 5rem 1rem 5rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 700;
}

.persona-list {
  padding: 3.5rem 0rem 3.5rem 5rem;
  text-align: left;
  margin: auto;
}

.persona-col-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem 3.5rem;
}

.persona-padding {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.last-button-padding {
  padding-bottom: 5rem;
}

.userFlows-row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.responsive-img-bluster {
  max-width: 100%;
  max-height: 60vh;
  display: block;
}

.responsive-img-caseStudy {
  max-width: 100%;
  height: 100%;
  padding: 0rem 5rem 0rem 5rem;
}

.typography-padding {
  padding: 1.5rem 3.5rem 3.5rem 3.5rem;
}

.logo-drawing-grid {
  display: grid;
  padding: 3.5rem;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
  justify-content: center;
}

.template-drawings-grid {
  display: grid;
  padding: 3.5rem;
  grid-template-columns: auto;
  grid-row-gap: 2rem;
  justify-content: center;
}

.lowFidelity-grid {
  display: grid;
  padding: 3.5rem 7.5rem 3.5rem 7.5rem;
  grid-template-columns: auto;
  grid-row-gap: 2.5rem;
  justify-content: center;
}

.template-preference-grid {
  display: grid;
  padding: 3.5rem;
  grid-template-columns: auto;
  grid-row-gap: 2rem;
  justify-content: center;
}

.lowfid-3-padding {
  padding: 0rem 3.5rem 0rem 3.5rem;
}

.nav-top-border {
  border-bottom: 1px solid #FCFCFC;
}

.desktop-show {
  display: none;
}

@media screen and (width: 320px) {
  #hero > h1 {
    font-size: 3.3rem;
  }
}





@media screen and (min-width: 575px) {
  h1 {
    font-size: 5rem;
    line-height: 7rem;
  }

  p {
    max-width: 475px;
  }

  h3 {
    font-size: 5rem;
  }

  h4 {
    max-width: 475px;
  }

  li {
    max-width: 425px;
    margin: auto;
  }

  .social-icons {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .icon {
    margin: 0rem 5rem 0rem 5rem;
  }

  .title-padding {
    margin: auto;
  }

  .paragraph-padding {
    margin: auto;
  }

  .contact-container {
    text-align: center;
  }

  #design_process {
    font-size: 2.4rem;
  }

  #project-padding h1 {
    font-size: 7rem;
  }

  #project-padding p {
    font-size: 1.8rem;
  }

  .project-img {
    padding: 8rem 0rem 8rem 0rem;
  }

  #fullName {
    max-width: 40rem;
  }

  #email {
    max-width: 40rem;
  }

  #message {
    max-width: 40rem;
  }

  input[type=submit] {
    max-width: 40rem;
    text-align: center;
  }

  .caseStudy-title-padding {
    font-family: 'Poppins', sans-seif;
    padding: 4rem 0rem 3rem 0rem;
  }

  .caseStudy-description {
    padding: 1rem 0rem 3.5rem 0rem;
    line-height: 2.2rem;
  }

  .caseStudy-img {
    padding: 0rem 0rem 2rem 0rem;
  }

  .flow-box {
    padding-top: 3.5rem;
  }

  .caseStudy-button {
    font-family: 'Lato', sans-serif;
    background-color: #3866A8;
    border: 0;
    color: #FCFCFC;
    padding: 1rem 0rem 1rem 0rem;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
  }

  .deliverables {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7.5rem 5rem 6rem 5rem;
    max-width: 770px;
  }

  .deliverables-padding {
    padding: 0rem;
  }

  .typography-img {
    max-width: 659px;
    max-height: 539px;
  }

  .template-drawings-grid {
    display: grid;
    padding: 3.5rem;
    grid-template-columns: auto auto;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    justify-content: center;
  }

  .lowFidelity-grid {
    display: grid;
    padding: 3.5rem 7.5rem 3.5rem 7.5rem;
    grid-template-columns: auto auto;
    grid-row-gap: 2.5rem;
    grid-column-gap: 3.5rem;
    justify-content: center;
  }

  .endorse {
    padding: 2.5rem 1.5rem 2.5rem 1.5rem;
    line-height: 2.2rem;
    height: 16rem;
    max-width: 50rem;
    text-align: center;
  }
}

@media screen and (min-width: 991px) {
  h1 {
    font-size: 5rem;
  }

  p {
    max-width: 575px;
  }

  h3 {
    font-size: 7rem;
  }

  h4 {
    max-width: 575px;
  }

  li {
    max-width: 525px;
    margin: auto;
  }

  .title-padding {
    margin: auto;
  }

  .paragraph-padding {
    margin: auto;
  }

  .mobile-show {
    display: none;
  }

  .desktop-show {
    display: block;
  }

  .topnav {
    overflow: hidden;
  }

  .topnav a {
    float: right;
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
  }

  .topnav a.menu-contact {
    color: #EECD53;
    margin: .5rem 5rem 0rem 0rem;
  }

  .topnav a.menu-contact-selected {
    color: #241F20;
    background-color: #EECD53;
    padding: 1rem 1rem;
    margin: .5rem 5rem 0rem 0rem;
  }

  .topnav a:hover {
    color: #EECD53;
  }

  .topnav a.menu-contact-tunecan:hover {
    color: #241F20;
    border: 0.1rem solid #241F20;
  }

  .topnav a.tunecan-hover:hover {
    color: #241F20;
  }

  .menu-selected {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: left;
    border-bottom: 0.2rem solid #EECD53;
    margin-top: 1.5rem;
    margin-right: 5rem;
  }

  .menu-selected-tunecan {
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: left;
    border-bottom: 0.2rem solid #241F20;
    margin-top: 1.5rem;
    margin-right: 5rem;
  }

  .menu-non-selected {
    font-family: 'Lato', sans-serif;
    text-align: left;
    color: white;
    margin-top: 1.5rem;
    margin-right: 5rem;
  }

  .menu-contact {
    background-color: #241F20;
    border: 0.1rem solid #EECD53;
    color: #EECD53;
    padding: 1rem 1rem;
    font-size: 1.8rem;
    margin: .3rem 0rem;
  }

  .logo {
    padding-top: .75em;
    float: left;
    margin-left: 5rem;
  }

  #no-hover-effect:hover {
    color: #241F20;
  }

  .desktop-name-padding {
    margin-left: 5rem;
  }

  .menu-selected-tunecan {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: left;
    border-bottom: 0.2rem solid white;
    margin-top: 1.5rem;
    margin-right: 5rem;
  }

  .menu-contact-tunecan {
    border: 0.1rem solid white;
    color: white;
    padding: 1rem 1rem;
    font-size: 1.8rem;
    margin: .3rem 5rem .3rem 0rem;
  }

  .caseStudy-title-padding {
    font-family: 'Poppins', sans-seif;
    padding: 2rem 0rem 1rem 0rem;
  }

  .caseStudy-description {
    padding: 2rem 0rem 3.5rem 0rem;
    line-height: 2.2rem;
  }

  .caseStudy-img {
    padding: 0rem 0rem 2rem 0rem;
  }

  .caseStudy-button {
    font-family: 'Lato', sans-serif;
    background-color: #3866A8;
    border: 0;
    color: #FCFCFC;
    padding: 1rem 0rem 1rem 0rem;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
  }

  .one-col-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1400px;
  }

  .three-col {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4.5rem 0rem;
    max-width: 1200px;
  }

  .persona-padding {
    padding: 0rem 0rem 3.5rem 0rem;
  }

  .persona-col-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
  }

  .flow-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 700px;
  }

  .flowchart-padding {
    padding: 3.5rem 0rem 0rem 0rem;
  }

  .color-palette {
    max-width: 534px;
    max-height: 326px;
  }

  .typography-padding {
    padding: 2rem 0rem 3.5rem 5rem;
    text-align: left;
    margin: auto;
  }

  .typography-img {
    max-width: 659px;
    max-height: 539px;
  }

  .logo-drawing-grid {
    display: grid;
    padding: 3.5rem;
    grid-template-columns: auto auto;
    grid-column-gap: 7.5rem;
    justify-content: center;
  }

  .template-preference-grid {
    display: grid;
    padding: 3.5rem;
    grid-template-columns: auto auto auto;
    grid-row-gap: 3.5rem;
    grid-column-gap: 3.5rem;
    justify-content: center;
  }

  .desktop-max {
    max-width: 530px;
    max-height: 372px;
  }

  .grid-center {
    justify-content: center;
    align-content: center;
    margin: auto;
  }

  .process-title {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }

  .process-flex {
    padding: 0rem 0rem 15rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 1500px;
  }

  .icon-padding {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .design-padding {
    padding-bottom: 0rem;
  }

  /* Homepage Case Study */
  .caseStudy_fullscreen-desktop {
    position: relative;
    display: inline-grid;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
  }

  .project-hex-white {
    position: absolute;
    z-index: 1;
    top: 50vh;
  }

  .project-hex-black {
    position: absolute;
    z-index: 1;
    top: 50vh;
  }

  .casestudy_position {
    position: relative;
    text-align: center;
  }

  .caseStudy_title {
    position: relative;
    top: 10vh;
    left: 0;
    right: 0;
    margin: auto
  }



  .caseStudy_subtitle {
    position: relative;
    top: 20vh;
    left: 0;
    right: 0;
    margin: auto;
  }

  .project-img {
    display: grid;
    justify-content: center;
  }

  #caseStudy_container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
  }

  #caseStudy_container>div {
    width: 50%;
  }

  #project-padding>p {
    font-size: 2.1rem;
  }

  .caseStudy_title {
    top: 42vh;
  }

  .caseStudy_subtitle {
    top: 45vh;
  }

  .bluster_img {
    object-fit: contain;
  }

  .relative {
    position: relative;
  }
}

@media screen and (min-width: 1199px) {
  h1 {
    font-size: 7rem;
    line-height: 8rem;
  }

  p {
    max-width: 600px;
  }

  h4 {
    max-width: 600px;
  }

  .title-padding {
    margin: auto;
  }

  .paragraph-padding {
    margin: auto;
  }

  .topnav a.menu-contact-selected {
    color: #241F20;
    background-color: #EECD53;
    padding: 1rem 1rem;
    margin: .5rem 11.5rem 0rem 0rem;
  }

  .logo {
    padding-top: .75em;
    float: left;
    margin-left: 11.5rem;
  }

  .desktop-name-padding {
    margin-left: 11.5rem;
  }

  .topnav a.high-res-padding {
    padding: 1rem 1rem;
    margin: .5rem 11.5rem 0rem 0rem;
  }

  #hero h1 {
    padding: 10rem 0rem 9rem 0rem;
    font-size: 7rem;
  }
}
